Redirect /faq.faq.html https://cygwin.com/faq/faq.html
<Files setup.exe>
    ExpiresActive On
    ExpiresDefault "now"
</Files>
<Files setup-legacy.exe>
    ExpiresActive On
    ExpiresDefault "now"
</Files>
