RedirectMatch permanent gfdl-.*html  http://x.cygwin.com/docs/ug/gfdl.html
Redirect permanent /docs/ug/using-aiglx.html http://x.cygwin.com/docs/ug/using-glx.html
Redirect /docs/ug/setup-cygwin-x-installing.html https://x.cygwin.com/docs/ug/setup.html
