# AddHandler snapshot-tar .tar
# Action snapshot-tar /cgi-bin/cygwin-list.cgi
AddHandler application/x-bzip2 .bz2
AddType application/x-xz .xz
AddHandler application/x-xz .xz
# Action application/octet-stream /cgi-bin/cygwin-list.cgi
