<tr>
  <td align=left valign=top><big><b><var longdate></b></big><br>
  <var diffs></td>
  <td align=center valign=top colspan=3><big><b>x86</b></big></td>
  <td align=center valign=top colspan=3><big><b>x86_64</b></big></td>
</tr>
<var xfiles>
