<tr>
  <td align=left valign=top>
    <big><b><var longdate></b></big><tt>&nbsp;&nbsp;</tt>
    <a href="<var arch>/cygwin-diffs-<var prev>-<var date>">Diffs</a> since <var longprev> (<var wsdfsz>&nbsp;kiB)
  </td>
  <td align=center valign=top colspan=3><big><b>x86</b></big></td>
  <td align=center valign=top colspan=3><big><b>x86_64</b></big></td>
</tr>
<var xfiles>
