<tr>
  <td align=left valign=top>
    &emsp;<big><b><var longdate></b></big>
    &emsp;<a href="<var arch>/cygwin-diffs-<var prev>-<var date>">Diffs</a> since <var longprev>&emsp;(<var wsdfsz>&nbsp;kiB)
  </td>
  <td align=left valign=top>&emsp;<big><b>x86</b></big></td>
  <td align=left valign=top>&emsp;<big><b>x86_64</b></big></td>
</tr>
<var xfiles>
