Redirect permanent /cygport/cygport.1.html https://cygwinports.github.io/cygport/cygport.1.html
Redirect permanent /cygport/manual.html https://cygwinports.github.io/cygport/toc_index.html
Redirect permanent /cygport/README https://github.com/cygwinports/cygport/blob/master/README
